* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background: rgb(110,192,228);
background: radial-gradient(circle, rgba(110,192,228,1) 68%, rgba(72,251,255,1) 100%);
  width: 300px;
  height: 250px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: 75%;
  border-radius: 6px;
}

.container {
  padding: 25px;
  max-height: 300px;
  background-color: #ccdce0;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App-header {
  padding-bottom: 15px;
  border-bottom: solid 1.5px #dedede;
}

.reg-input-container {
  position: relative;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  min-height: 35px;
}

.reg-input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  padding: 0 10px;
  background: #f1f1f1;
  border-radius: 6px;
  padding-right: 30px; /* Add space for the clear button */
}

.reg-input:focus,
.reg-input:hover {
  outline: solid 3px #ededed;
}

.clear-button {
  position: absolute;
  right: 10px;
  top: 20%;
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  cursor: pointer;
}

.clear-button:focus,
.clear-button:hover {
  color: rgba(0, 0, 0, 0.87);
  transform: scale(1.25);
  transition: transform 0.2s;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

button:not(.clear-button) {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s, transform 0.25s;
}


button.hovered {
  font-size: 10px;
  transform: scale(1.1);
  cursor: pointer;
}
/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  position: absolute;
  background: none;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 16px;
  top: 50%; /* Vertically center the button */
  transform: translateY(-50%);
  right: 30px; /* Align within the search bar */
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: calc(100% + 1px);
  right: 30px;
  background-color: rgba(255, 255, 255, 0.02); 
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  width: max-content;
  margin: 0;
  padding: 0;
}

.dropdown-button:focus + .dropdown-menu,
.dropdown:hover .dropdown-menu {
  display: flex;
}

.dropdown-menu .dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
  list-style: none;
  text-align: left;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #545454;
  backdrop-filter: blur(20px);
  border-radius: 5px;
}

/* Ensure dropdown button is excluded from scaling effect */
button:not(.dropdown-button):active,
button:not(.dropdown-button):hover {
  transform: scale(1.2);
}

@media (prefers-color-scheme: dark) {
  * {
    color: #fff;
  }
  body {
    background-color: #0f0e0e;
  }

  .container {
    background-color: #3e3b46;
  }

  .reg-input {
    background: #2c2b2b;
  }

  .reg-input:focus,
  .reg-input:hover {
    outline: solid 3px #303030;
  }

  button {
    background-color: #302a2a;
  }

  .clear-button {
    color: rgba(255, 255, 255, 0.5);
  }

  .clear-button:focus,
  .clear-button:hover {
    color: rgba(255, 255, 255, 0.87);
  }

  .App-header {
    border-color: #575757;
  }
}
